/*
* @Author: liye
* @Date:   2017-10-05 15:15:39
* @Last Modified by:   liye
* @Last Modified time: 2017-10-22 13:33:27
*/
.test{
	background-color: #2975e8;
	padding:7px 12px;
	border:none;
	border-radius:5px;
}