/*
* @Author: liye
* @Date:   2017-10-05 15:15:39
 * @Last Modified by: Sauce
 * @Last Modified time: 2018-07-31 22:41:03
*/
$button-class-prefix: #{$class-prefix}button;

.#{$button-class-prefix}{
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	margin: 0;
	border-radius: $border-radius-base;
	border: $border-base;
	border-color: $button-default-border;
	background: $button-default-fill;
	color: $button-default-color;

	@include button-size($button-padding-vertical, $button-padding-horizontal, $button-font-size);

	&:hover,
	&:focus{
		color: lighten($primary-color, 10%);
		border-color: lighten($button-primary-border,30%);
		background-color: lighten($button-primary-fill, 43%);
	}
	&:active{
		color: darken($primary-color, 10%);
		border-color: darken($primary-color, 10%);
	}

	&.is-plain{
		&:hover,
		&:focus{
			background-color: $white-color;
		}
	}

	&.is-disabled{
		&,
		&:hover,
		&:focus{
			cursor: not-allowed;
			color: lighten($button-default-color, 45%);
			border-color: lighten($button-default-border, 2%);
			background-color: lighten($button-default-fill, 30%);
		}
	}

	&-primary{
		@include button-color($button-primary-color, $button-primary-border, $button-primary-fill);
	}
	&-success{
		@include button-color($button-success-color, $button-success-border, $button-success-fill);
	}
	&-warning{
		@include button-color($button-warning-color, $button-warning-border, $button-warning-fill);
	}
	&-error{
		@include button-color($button-error-color, $button-error-border, $button-error-fill);
	}

	
	&-text{
		color: $primary-color;
		border: none;
		background: transparent;
		padding-left:0;
		padding-right:0;

		&:hover,
		&:focus{
			color: lighten($primary-color, 10%);
			background: transparent;
		}
		&:active{
			color: darken($primary-color, 10%);
			background: transparent;
		}
	}
}