$card-class-prefix: #{$class-prefix}card;

.#{$card-class-prefix}{
    display: inline-block;
    border: $border-base;
    font-size: $font-size-normal;
    transition: .3s;

    &-header{
        font-size: 20px;
        padding: 10px $card-padding-horizontal;
        border-bottom: $border-base;
    }

    &-content{
        padding: 8px $card-padding-horizontal;
    }

    &.hover-shadow{
        &:hover{
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
        }
    }

    img{
        width: 100%;
    }

    &-meta-title{
        font-size: $font-size-large;
        font-weight: 500;
    }
}