$carousel-class-prefix: #{$class-prefix}carousel;

.#{$carousel-class-prefix}{
    width: 400px;
    height: 200px;
    position: relative;
    overflow-x: hidden;

    &-main{
        position: relative;
        height: 200px;
        line-height: 200px;
        z-index: 1;
    }

    &-item{
        background: #bbb;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        overflow: hidden;
        z-index: 1;

        &.is-animating{
            transition: transform .4s ease-in-out;
        }

        &.is-active{
            z-index: 2;
        }

        &:nth-of-type(even){
            background: #777;
        }
    }

    &-button-next{
        position: absolute;
        top: 0;
        z-index: 9;
    }
}