$class-prefix-checkbox: #{$class-prefix}checkbox;

.#{$class-prefix-checkbox}{
    display: inline-block;
    cursor: pointer;

    &-input{
        display: inline-block;

        &.is-checked{
            .#{$class-prefix-checkbox}-inner{
                background-color: $primary-color;
                border-color: $primary-color;

                &::after{
                    transform:rotate(45deg) scale(1.1);
                }
            }
        }
    }

    &-inner{
        display: inline-block;
        width: 13px;
        height: 13px;
        border: $border-base;
        border-radius: 3px;
        position: relative;

        &::after{
            width: 4px;
            height: 9px;
            border-color: $white-color;
            border-width: 1px;
            border-style: solid;
            border-top: 0;
            border-left: 0;
            content: "";
            position: absolute;
            left: 5px;
            top: 1px;
            transform: rotate(45deg) scale(0);
            transition: transform .1s ease-out;
        }
    }
    &-label{
        display: inline-block;
    }
}