@import "./test";
$input-number-prefix: #{$class-prefix}input-number;

$small-height: 28px;
$small-width: 100px;

$normal-height: 34px;
$normal-width: 120px;

$large-height: 40px;
$large-width: 140px;

.#{$input-number-prefix}{
    &-wrap{
        display: inline-block;
        position: relative;
        font-size: $font-size-small;
        height: $normal-height;
        width: $normal-width;
        [class^="vut-icon-"], [class*=" vut-icon-"]{
            transform: scale(.7)
        }
    }

    &-handler-wrap{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 26px;
        height: 100%;
        cursor: pointer;
        border-left: 1px solid $border-color;
    }

    &-action{
      width: 100%;
      height: $normal-height / 2;
      display: block;
      text-align: center;
      &:hover{
          color: $primary-color;
          opacity: .9;
      }
    }

    &-down{
      border-top: 1px solid $border-color;
    }

    &-inner-wrap{
        height: 100%;
    }

    &-inner{
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        color: $content-color;
        padding: 6px;
        padding-right: 26px;
    }

    &-inner:hover,
    &-inner:focus
    {
        border-color: $primary-color;
    }

    &-handler-disabled{
        @include disabled-state;
        background-color: initial;
    }
    &-handler-disabled:hover{
        color: inherit;
    }

    &-wrap-small{
        height: $small-height;
        width: $small-width;
        & .#{$input-number-prefix}-action{
            height: $small-height / 2
        }
    }

    &-wrap-large{
        height: $large-height;
        width: $large-width;
        & .#{$input-number-prefix}-action{
            height: $large-height / 2
        }
    }

    &-disabled,
    &-disabled &-inner
    {
        @include disabled-state;
    }

    &-readonly &-inner:hover,
    &-readonly &-inner:focus,
    &-disabled &-inner:hover,
    &-disabled &-inner:focus
    {
        border-color: $border-color;
    }

    &-hide-controls &-inner{
        padding-right: 6px;
    }

    &-right-controls &-handler-wrap{}

}
