$input-number-prefix: #{$class-prefix}input-number;

$small-height: 28px;
$small-width: 120px;

$normal-height: 34px;
$normal-width: 140px;

$large-height: 40px;
$large-width: 160px;

$controls-width: 30px;

$controls-disabled-color: #dedcdc;

.#{$input-number-prefix}{
    &-wrap{
        display: inline-block;
        position: relative;
        font-size: $font-size-small;
        height: $normal-height;
        width: $normal-width;
        [class^="vut-icon-"], [class*=" vut-icon-"]{
            transform: scale(.8)
        }
    }

    &-action{
        position: absolute;
        width: $controls-width;
        text-align: center;
        cursor: pointer;
        height: auto;
        display: block;
        &:hover{
            color: $primary-color;
            opacity: .9;
        }
    }

    &-up{
        right: 0px;
        top:0px;
        border-left: 1px solid $border-color;
    }

    &-down{
        right: 0px;
        bottom: 0px;
        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
    }

    &-inner-wrap{
        height: 100%;
    }

    &-inner{
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        color: $content-color;
        padding: 6px;
        padding-right: $controls-width + 6;
    }

    &-inner:hover,
    &-inner:focus
    {
        border-color: $primary-color;
    }

    &-handler-disabled{
        @include disabled-state;
        background-color: initial;
        color: $controls-disabled-color;
        &:hover {
            color: $controls-disabled-color;
        }
    }

    &-wrap-small{
        height: $small-height;
        width: $small-width;
        .vut-icon{
            font-size: 14px;
        }
    }

    &-wrap-large{
        height: $large-height;
        width: $large-width;
    }

    &-disabled,
    &-disabled &-inner
    {
        @include disabled-state;
    }

    &-disabled &-action{
        opacity: 0;
    }

    &-readonly &-inner:hover,
    &-readonly &-inner:focus,
    &-disabled &-inner:hover,
    &-disabled &-inner:focus
    {
        border-color: $border-color;
    }

    &-edge-controls &-action{
        .vut-icon{
            position: relative;
            top: 50%;
            transform: translateY(-50%) scale(.8);
        }
    }
    &-edge-controls &-up{
        height: 100%;
    }

    &-edge-controls &-down{
        left: 0px;
        border-top: 0px;
        border-right: 1px solid $border-color;
        border-left: 0px;
        height: 100%;
    }

    &-edge-controls &-inner{
        padding-left: ($normal-width - $controls-width *2) / 2;
        padding-right: ($normal-width - $controls-width * 2) / 2;
        text-align: center;
    }

    &-hide-controls &-inner{
        padding-right: 6px;
    }

    &-edge-controls + &-hide-controls &-inner{
        padding-left: 6px;
        padding-right: 6px;
    }

}
