.vut-input-wrap{
    display: inline-block;
    position: relative;
}
.vut-input{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #dddee1;
    border-radius: 4px;
}