$loading-class-prefix : #{$class-prefix}loading;

.#{$loading-class-prefix}-mask{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:9999;
    background:rgba(255, 255, 255, .9);
    transition: opacity .3s;

    &.is-fullscreen{
        position:fixed;
        .#{$loading-class-prefix}-circular{
            @include size($loading-box-size-fullscreen, $loading-box-size-fullscreen);
        }
    }
}
.#{$loading-class-prefix}-box{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    margin-top: -($loading-box-size/2);

    
}

.#{$loading-class-prefix}-circular{
    @include size($loading-box-size, $loading-box-size);
    animation:rotate 2s linear infinite;
}

.#{$loading-class-prefix}-outline{
    stroke:$primary-color;
    stroke-dasharray:90,150;
    stroke-width:2;
    stroke-dashoffset:0;
    stroke-linecap:round;
    animation:stretch 1.8s ease-in-out infinite,color 4.5s linear infinite;
}

.#{$loading-class-prefix}-text{
    color:$primary-color;
}
.#{$loading-class-prefix}-fade-enter,
.#{$loading-class-prefix}-fade-leave-active{
    opacity:0;
}
@keyframes rotate{
    100%{
        transform:rotate(360deg);
    }
}
@keyframes stretch{
    0%{
        stroke-dasharray:1,200;
    }
    50%{
        stroke-dasharray:89,150;
        stroke-dashoffset:-35px;
    }
    100%{
        stroke-dasharray:89,150;
        stroke-dashoffset: -125px;
    }
}
@keyframes color{
    0%,
    100%{
        stroke:$primary-color;
        color:$primary-color;
    }
    38%{
        stroke:$success-color;
        color:$success-color;
    }
    76%{
        stroke:$error-color;
        color:$error-color;
    }
}