$menu-class-prefix: #{$class-prefix}menu;

.#{$menu-class-prefix}{
    display: inline-block;
    padding: 0 20px;
    border-radius: $border-radius-base;

    li{
        padding: 20px 30px;
    }
}

.#{$menu-class-prefix}-horizontal{
    li{
        display: inline-block;
    }
}