$notification-class-prefix: #{$class-prefix}notification;

.#{$notification-class-prefix}{
    display: flex;
    position: fixed;
    top: 20px;
    width: 220px;
    padding: $notification-padding;
    border: $border-base;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;
    transition: all .3s ease-out;
    overflow: hidden;

    &.top-right{
        right: 30px;
    }
    &.top-left{
        left: 30px;
    }

    &-close{
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }
}
