$progress-class-prefix: #{$class-prefix}progress;

.#{$progress-class-prefix} {
    position: relative;
}

.#{$progress-class-prefix}-bar-wrap{
    position: relative;
    display: inline-block;
    background-color: $slider-fill;
    border-radius: $progress-border-radius;
    vertical-align: middle;
}

.#{$progress-class-prefix}-bar{
    background-color: $primary-color;
    border-radius: $progress-border-radius;
    vertical-align: middle;
    text-align: right;
    transition: width 1s ease;

    .#{$progress-class-prefix}-inner-text {
        color: $white-color;
        font-size: 12px;
        display: inline-block;
        margin: 0 5px;
    }

    &:after {
        height: 100%;
        content: "";
        display: inline-block;
        vertical-align: middle;
    }

    &.#{$progress-class-prefix}-status-active {
        position: relative;

        &:before {
            content: '';
            animation: vut-progress-active 2s ease-in-out infinite;
            background: #fff;
            position: absolute;
            border-radius: 20px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}
.#{$progress-class-prefix}-label{
    display: inline-block;
    vertical-align: middle;
    color: $content-color;

    &.is-success{
        color: $success-color;
    }

    &.is-fail {
        color: $error-color;
    }
}

.#{$progress-class-prefix}-type-circle {
    display: inline-block;

    .#{$progress-class-prefix}-circle__path {
        transition: stroke-dasharray 0.6s ease 0s, stroke 0.6s ease;
    }

    .#{$progress-class-prefix}-label {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
    }
}

@keyframes vut-progress-active{
    0% {
        opacity: .5;
        width: 0;
    }
    100% {
        opacity: 0;
        width: 100%;
    }
}