$slider-class-prefix: #{$class-prefix}slider;

.#{$slider-class-prefix}{
    line-height: normal;
    &-wrap{
        width: 100%;
        height: $slider-bar-height;
        background-color: $slider-fill;
        position:relative;
        border-radius: $slider-border-radius;
        vertical-align: middle;
    }

    &-bar{
        height: $slider-bar-height;
        background-color: $slider-color;;
        border-radius: $slider-border-radius;
        position: absolute;
        cursor: pointer;
    }

    &-button-wrap{
        height: $slider-button-wrap-height;
        width: $slider-button-wrap-height;
        text-align: center;
        position: absolute;
        background-color: transparent;
        top: -($slider-button-wrap-height - $slider-bar-height)/2;
        transform: translateX(-50%);
        cursor: grab;
    }

    &-button{
        width: $slider-button-height;
        height: $slider-button-height;
        border: $slider-button-border solid $primary-color;
        background-color: $white-color;
        border-radius: $border-radius-circle;
    }
}