$padding-table: 12px 0px;
$padding-table-large: 18px 0px;
$padding-table-small: 6px 0px;

$line-height-table: 20px;

.#{$class-prefix}table-wrap{
    position: relative;
    border: 1px solid #e9eaec;
    border-bottom: 0;
}
.#{$class-prefix}table{
    width: inherit;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    color: #495060;
    font-size: $font-size-normal;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}
.#{$class-prefix}table-header table,
.#{$class-prefix}table-body table
{
    width: 100%;
    table-layout: fixed;
}
.#{$class-prefix}table-wrap th{
    white-space: nowrap;
    overflow: hidden;
    background-color: #f8f8f9;
}
.#{$class-prefix}table-wrap th,
.#{$class-prefix}table-wrap td{
    padding: $padding-table;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #e9eaec;
}
.#{$class-prefix}table-cell{
    padding: 0px 15px;
    line-height: $line-height-table;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;
}
.#{$class-prefix}table-tip table{
    width: 100%;
}
.#{$class-prefix}table-tip td{
    text-align: center;
}
.#{$class-prefix}table-large th,
.#{$class-prefix}table-large td
{
    padding: $padding-table-large;
}
.#{$class-prefix}table-small th,
.#{$class-prefix}table-small td
{
    padding: $padding-table-small;
}
.#{$class-prefix}table-small{
    font-size: $font-size-small;
}
.#{$class-prefix}table-border th,
.#{$class-prefix}table-border td
{
    border-right: 1px solid #e9eaec;
}

.#{$class-prefix}table-stripe .#{$class-prefix}table-body tr:nth-child(2n) td{
    background-color: #fafafa;
}
