$padding-table: 12px 0px;
$padding-table-large: 18px 0px;
$padding-table-small: 6px 0px;

$line-height-table: 20px;

$stripe-background: #fafafa;
$background-color-hover: #ecf5ff;

.#{$class-prefix}table-wrap{
    position: relative;
    border: 1px solid $border-color;
    border-bottom: 0;
    border-right: 0;
}
.#{$class-prefix}table-wrap:before,
.#{$class-prefix}table-wrap:after
{
    content: "";
    position: absolute;
    background-color: $border-color;
}
.#{$class-prefix}table-wrap:before{
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.#{$class-prefix}table-wrap:after{
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
}
.#{$class-prefix}table{
    width: inherit;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    color: $content-color;
    font-size: $font-size-normal;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}
.#{$class-prefix}table-header{
    overflow: hidden;
}
.#{$class-prefix}table-body{
    overflow: auto;
} 
.#{$class-prefix}table-header table,
.#{$class-prefix}table-body table
{
    width: 100%;
    table-layout: fixed;
}
.#{$class-prefix}table-wrap th{
    white-space: nowrap;
    overflow: hidden;
    background-color: $stripe-background;
}
.#{$class-prefix}table-wrap th,
.#{$class-prefix}table-wrap td{
    padding: $padding-table;
    box-sizing: border-box;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid $line-color;
}
.#{$class-prefix}table-cell{
    padding: 0px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;
}
.#{$class-prefix}table-tip table{
    width: 100%;
}
.#{$class-prefix}table-tip td{
    text-align: center;
}
.#{$class-prefix}table-large th,
.#{$class-prefix}table-large td
{
    padding: $padding-table-large;
}
.#{$class-prefix}table-small th,
.#{$class-prefix}table-small td
{
    padding: $padding-table-small;
}
.#{$class-prefix}table-small{
    font-size: $font-size-small;
}
.#{$class-prefix}table-border th,
.#{$class-prefix}table-border td
{
    border-right: 1px solid $line-color;
}
.#{$class-prefix}table-border th:last-child,
.#{$class-prefix}table-border td:last-child{
  border-right: 0px;
}

.#{$class-prefix}table-stripe .#{$class-prefix}table-body tr:nth-child(2n){
    background-color: $stripe-background;
}

.#{$class-prefix}table-wrap .#{$class-prefix}table tr:hover{
    background-color:  $background-color-hover;
}

td.#{$class-prefix}table-column-center,
th.#{$class-prefix}table-column-center
{
    text-align: center;
}

td.#{$class-prefix}table-column-right,
th.#{$class-prefix}table-column-right
{
    text-align: right;
}
