$tabs-class-prefix: #{$class-prefix}tabs;
$tab-panel-class-prefix: #{$class-prefix}tab-panel;

.#{$tabs-class-prefix}{
    position: relative;

    &-nav{
        padding: 10px 10px;
        border-bottom: 2px solid $border-color;
        position: relative;

        &-item{
            padding: 0 8px;
            display: inline-block;
            cursor: pointer;

            + .#{$tabs-class-prefix}-nav-item{
                margin-left: 15px;
            }

            &-active{
                color: $primary-color;
            }

            &:hover{
                color: $primary-color;
            }
        }

        &-ink-bar{
            height: 2px;
            width:20px;
            box-sizing: border-box;
            background-color: $primary-color;
            position: absolute;
            left:0;
            bottom:1px;
        }
    }
}