/*
 * class prefix
*/
$class-prefix: vut-;

/*
 * base style
*/
//小号字体
$font-size-small: 12px;
//正常字体
$font-size-normal: 14px;
//大号字体
$font-size-large: 16px;
// $text-color-noraml: #616269;
$border-radius: 4px;
//最小z-index
$min-z-index: 2000;

/*
 * color色彩
*/
//主色
$primary-color: #2d8cf0;
$light-primary-color: #5cadff;
$dark-primary-color: #2b85e4;

//辅助色
$info-color: #8794a1;
$success-color: #19be6b;
$warning-color: #ff9900;
$error-color: #ed3f14;

//原色
$white-color: #ffffff;
$black-color: #000000;

//中性色
$border-color: #dddee1;
$line-color: #e9eaec;
$background-color: #f8f8f9;
$divider-color: #e9eaec;
$disabled-color: #bbbec4;
$title-color: #1c2438;
$content-color: #495060;
$title-color-second: #4e4e4e;
$separator-color: #a2a5aa;

//border
$border-width-base: 1px;
$border-style-base: solid;
$border-color-base: $border-color;
$border-base: $border-width-base $border-style-base $border-color-base;
$border-radius-base: 5px;
$border-radius-circle: 50%;

//box-shadow
$box-shadow-base: 0 2px 3px $border-color;

/*
** 组件
*/
// ----loading-----
$loading-box-size: 42px;
$loading-box-size-fullscreen: 50px;


// -----Button------
$button-default-color: $content-color;
$button-default-border: $border-color;
$button-default-fill: $white-color;

$button-primary-color: $white-color;
$button-primary-border: $primary-color;
$button-primary-fill: $primary-color;

$button-success-color: $white-color;
$button-success-border: $success-color;
$button-success-fill: $success-color;

$button-warning-color: $white-color;
$button-warning-border: $warning-color;
$button-warning-fill: $warning-color;

$button-error-color: $white-color;
$button-error-border: $error-color;
$button-error-fill: $error-color;

$button-font-size: 14px;
$button-padding-vertical: 10px;
$button-padding-horizontal: 16px;

$button-font-size-large: 18px;
$button-padding-vertical-large: 14px;
$button-padding-horizontal-large: 22px;


// ------Radio-----
$radio-font-size: 14px;
$radio-color: $content-color;
$radio-input-width: 14px;
$radio-input-height: 14px;
$radio-input-border: $border-base;
$radio-input-border-radius: $border-radius-circle;
$radio-input-fill: $white-color;

$radio-input-border-color-hover: $primary-color;

$radio-input-border-color-checked: $primary-color;
$radio-input-icon-color: $primary-color;


// ------Tag---------
$tag-default-color: $primary-color;
$tag-default-border: lighten($primary-color, 30%);
$tag-default-fill: lighten($primary-color, 40%);

$tag-success-color: $success-color;
$tag-success-border: lighten($success-color, 40%);
$tag-success-fill: lighten($success-color, 52%);

$tag-info-color: $info-color;
$tag-info-border: lighten($info-color, 35%);
$tag-info-fill: lighten($info-color, 39%);

$tag-warning-color: $warning-color;
$tag-warning-border: lighten($warning-color, 35%);
$tag-warning-fill: lighten($warning-color, 45%);

$tag-error-color: $error-color;
$tag-error-border: lighten($error-color, 40%);
$tag-error-fill: lighten($error-color, 45%);


//--------Badge-------
$badge-fill: $error-color;
$badge-radius: 10px;
$badge-font-size: 12px;
$badge-size: 20px;
$badge-padding: 6px;
$badge-size-dot: 10px;


//--------Slider--------
$slider-bar-height: 8px;
$slider-button-wrap-height: 18px;
$slider-button-height: 14px;
$slider-button-border: ($slider-button-wrap-height - $slider-button-height)/2;
$slider-color: $primary-color;
$slider-fill: #E8EAEC;
$slider-border-radius: 5px;


//---------Progress---------
$progress-bar-height: 5px;
$progress-border-radius: 5px;


//---------Notification------
$notification-width: 250px;
$notification-padding: 20px 60px 20px 25px;