/*
 * class prefix
*/
$class-prefix: vut-;

/*
 * base style
*/
//小号字体
$font-size-small: 12px;
//正常字体
$font-size-normal: 14px;
//大号字体
$font-size-large: 16px;
// $text-color-noraml: #616269;
$border-radius: 4px;
//最小z-index
$min-z-index: 2000;

/*
 * color色彩
*/
//主色
$primary-color: #2d8cf0;
$light-primary-color: #5cadff;
$dark-primary-color: #2b85e4;

//辅助色
$info-color: #2d8cf0;
$success-color: #19be6b;
$warning-color: #ff9900;
$error-color: #ed3f14;

//原色
$white-color: #ffffff;
$black-color: #000000;

//中性色
$border-color: #dddee1;
$line-color: #e9eaec;
$background-color: #f8f8f9;
$divider-color: #e9eaec;
$disabled-color: #bbbec4;
$title-color: #1c2438;
$content-color: #495060;

//border
$border-width-base: 1px;
$border-style-base: solid;
$border-color-base: $border-color;
$border-base: $border-width-base $border-style-base $border-color-base;
$border-radius-base: 5px;
$border-radius-circle: 100%;

//禁用状态
@mixin disabled-state{
  background-color: #f3f3f3;
  opacity: .9;
  cursor: not-allowed;
  color: #ccc;
}


// ----loading-----
$loading-box-size: 42px;
$loading-box-size-fullscreen: 50px;
@mixin size($width, $height){
  width: $width;
  height: $height;
}

// -----Button------
$button-default-color: $content-color;
$button-default-border: $border-color;
$button-default-fill: $white-color;

$button-primary-color: $white-color;
$button-primary-border: $primary-color;
$button-primary-fill: $primary-color;

$button-success-color: $white-color;
$button-success-border: $success-color;
$button-success-fill: $success-color;

$button-warning-color: $white-color;
$button-warning-border: $warning-color;
$button-warning-fill: $warning-color;

$button-error-color: $white-color;
$button-error-border: $error-color;
$button-error-fill: $error-color;

$button-font-size: 14px;
$button-padding-vertical: 10px;
$button-padding-horizontal: 16px;

$button-font-size-large: 18px;
$button-padding-vertical-large: 14px;
$button-padding-horizontal-large: 22px;

@mixin button-color($color, $border-color, $bg-color){
  color: $color;
  border-color: $border-color;
  background-color: $bg-color;

  &:hover,
  &:focus{
    color: $color;
    border-color: lighten($border-color, 15%);
    background-color: lighten($bg-color, 15%);
  }
  &:active{
    border-color: darken($border-color, 15%);
    background-color: darken($bg-color, 15%);
  }

  &.is-plain{
    color: $bg-color;
    border-color: lighten($border-color, 20%);
    background-color: lighten($bg-color, 42%);
    &:hover,
    &:focus{
      color: $color;
      border-color: $border-color;
      background-color: $bg-color;
    }
  }

  &.is-disabled{
    &,
    &:hover,
    &:focus{
      color: lighten($bg-color, 25%);
      border-color: lighten($border-color, 42%);
      background-color: lighten($bg-color, 45%);
    }
  }
}
@mixin button-size($padding-vertical, $padding-horizontal, $font-size){
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  // border-radius: $border-radius; //开发圆角按钮预备
}

// ------Radio-----
$radio-font-size: 14px;
$radio-color: $content-color;
$radio-input-width: 14px;
$radio-input-height: 14px;
$radio-input-border: $border-base;
$radio-input-border-radius: $border-radius-circle;
$radio-input-fill: $white-color;

$radio-input-border-color-hover: $primary-color;

$radio-input-border-color-checked: $primary-color;
$radio-input-icon-color: $primary-color;