/*
 *动画scss
 */


.vut-fade-enter-active,
.vut-fade-leave-active{
    transition: all 0.5s ease-out;
}

.vut-zoom-in-top-enter-active{
    opacity: 1;
    transform: scaleY(1);
    transition: transform .3s ease-out, opacity .3s ease-out;
    transform-origin: center top;
}

.vut-zoom-in-top-enter,
.vut-zoom-in-top-leave{
    opacity: 0;
    transform: scaleY(0)
}


//notify
.vut-notification-fade-enter{
    &.right{
        right: 0;
        transform: translateX(100%);
    }
}

