/*
 *动画scss
 */


.vut-tag-fade-enter-active,
.vut-tag-fade-leave-active{
    transition: all 0.5s ease-out;
}

//notify
.vut-notification-fade-enter{
    &.right{
        right: 0;
        transform: translateX(100%);
    }
}